.HomePage {
    .overview-container {
        padding: 20px;

        .overViews {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .chats {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        canvas {
            width: 500px !important;
            height: 450px !important;
        }
    }
}
